body {
    font-family: Arial, Helvetica, sans-serif; 
    background-image: url(https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    height : 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;
}

.container1 {
    border: none;
    border-radius: 15px;
    background-color: #ffffff;
    width: 35vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 5px 25px #d6d4d4;
    opacity: 0.7;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

input {
    width: 15vw;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #bbb5b5;
    color:rgb(9, 9, 8)
}
.username {
    text-align: center;
    padding: 15px 30px;
}
.password {
    text-align: center;
    padding: 15px 30px;
    margin-bottom: 15px;
}

button {
    width: 15vw;
    background-color: #417aba;
    border: none;
    border-radius: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 25px;
    text-align: center;
    color:#ffffff;
    font-size: 15px;
}

button:hover {
    background-color: #103a6a;
    transform: scale(1.1);
    transition: .3s;
    box-shadow: 1px 10px 10px #bbb5b5;
}

@media (max-width: 800px) {
    .container1 {
        width: 50vw;
    }
}

